.userheader {
  margin-left: 510px;
  margin-top: 15px;
}

.userform {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 290px;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(10, 11, 12, 0.986);
}

.userFirst-Half,
.userSecond-Half {
  height: 20px;
  padding: 10px;
  font-style: initial;
  font-size: 100%;
  margin-top: 30px;
  margin-left: 68px;
  width: 30%;
}

.user {
  font-weight: 300%;
  font-size: 120%;
  padding-left: 5px;

  width: 180px;

  color: rgb(252, 249, 249);
}

.usertext {
  font-size: 100%;
  padding-left: 10px;
  font-style: initial;
  font-weight: 300%;
  width: 200px;
  border-radius: 8px;
  height: 30px;
}

.userbutton {
  margin-top: 15px;
  margin-left: 180px;
  font-weight: 500;
  font-style: initial;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: rgb(6, 6, 8);
  background-color: rgb(13, 85, 240);
}

@media screen and (min-width: 415px) {
  .site-container {
    flex-direction: row;
  }
}
